/* */
body{
	margin: 0; /* Tar bort oönskade kanter i webbläsaren */
}

nav{
	height: 5rem; /* sätter höjden på min globalmeny */
	padding: 0 15rem 0 15rem;/* Trycker ihop min nav-bar åt sidorna */
	background-color: white; /* Ger min navbar en vit bakgrundsbild. La dit den istället för att inte ha någonting alls då jag slipper problemet att bilder på andra sidor lägger sig över min navbar och gör den svår att se */
}

nav ul{
	display:flex; /* Flexbox. Används för att mina länkar ska ligga jämte varandra istället för över varandra */
	padding: 0; /* breddar boxarna lite */
	margin: 0;/* Tar bort oönskade blankspace */
	
	
}
nav li{
	list-style-type: none; /* Tar bort fula punkter, eftersom det kommer automatiskt på en lista */
	width: 20%; /* delar upp mina boxar jämnt i 5 delar */
	text-align: center; /* Centrerar texten */
	padding:30px ;
	
}

nav:not(.lokalmeny) a{ /* säger att det INTE gäller min lokalmeny med taggen NAV */
	color:#c8c8c8; /* Ger mina länkar en minimalistisk grå färg */
	text-transform: uppercase; /* Sätter alla mina länkar i globalmenyn till stora bokstäver */
	text-decoration: none; /* Tar bort underline på länkarna */
	font-weight: bold; /* Gör länkarna fetstilta */
}



.lokalmeny ul li a:link{
	text-decoration: none;
}

.lokalmeny ul li a:visited{
	color: black;
}

nav a:hover{
	color: black; /* Gör texten svart när man drar musen över länkarna */
}


nav ul li a.active{
	color: black;
}





.index header{
	margin-bottom: 5vh; /* gör ett space under min header */
	font-weight: bold; /* Fetstilt */
	font-size: 20px; /* textstorlek */
}

.index .container{
	display: grid;/* Gör mina tre div:ar till grids */
	grid-template-columns: 10% auto 10%; /* säger att ytterdivarna ska vara 10% var i storlek på bredden av skärmen */
	text-align:center; /* Centrerar texten */
	
	
}

.index .rad2{
	padding-top: 10%; /* Används för att flytta ner innehållet på sidan*/
}

.historia .container{
	display:grid; 
	grid-template-columns: 48% auto 48%; /* Används för att skapa en smal linje mellan mina informativa texter */
}

.historia .rad3{
	display: flex; /* Sätter flexbox */
	flex-direction: column; /* Säger att min flexbox ska gå vertikalt */
	align-items: center;  /* Centrerar mitt innehåll */
}


p{
	text-align: left; /* Vänstercentrerar p taggarna*/
	padding-top: 2px; 
	margin: 0; /* trycker ner min text från övrigt innehåll */
}

h1, h2{
	text-align: center; /* Centrerar mina h2 taggar*/
}




.historia .rad1 img{
	margin-bottom: 0;
	width: 20.5vw;
	height: auto;
	
}
 
.historia .rad1{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.historia .rad2 {
	border: 1px solid black;
	margin: 0 49% ;
	height: calc(100vh - 5rem); /* kortar mitt mittenstreck */

}

.historia .rad3 img{
	height: auto;
	width: 20vh;
	border-radius: 75%; /* rundar hörn på mina bilder */
	
}

.utveckling {
	background-image: url("https://www.klassiker.nu/sites/klassiker.nu/files/styles/facebook/public/images/2017/09/28_38124.jpg?itok=FSQoJ9L9");
}

.utveckling .lokalmeny{
	background-color: white;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
}

.lokalmeny li{
	width: 50%;
}

.ångmotor .container{
	display: grid;
	grid-template-columns: 20% auto 20%;
	margin-top: 5vh;
}

.ångmotor .rad2{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.ångmotor #ångmaskinen{
	font-size: 2vh;
}

.förbränningsmotor .container{
	display: grid;
	grid-template-columns: 10% auto 10%;
}

.kontakt .container{
	display: grid;
	grid-template-columns: 20% auto 20%;
}

.idag .container{
	display: grid;
	grid-template-columns: 10% auto 10%;
}

.idag table{
	border: 1px solid black; /* Gör min kant på tabellen 1px bred och i färgen svart */
	border-collapse: collapse; /* Slår ihop linjerna */
	
}

.idag tr:nth-child(odd){
	background-color: rgb(128, 128, 128); /* Zebra striping i tabellen. Rgb färger pga betygskriterierna*/
}

.idag img{
	height: auto;
	width: auto;
	border-radius: 5em; /* rundar hörnen */
}

.idag thead{
	background-color:turquoise;
}

.kontakt{
	background-image: url("cars2.jpg");
}

.kontakt .rad2{
	background-color: white;
}

form textarea{
	background-color: pink;
}